@import "../../../assets/scss/colors.scss";
.submenu-header {
  background-color: $white;
  height: 50px;
  line-height: 50px;
  .ant-menu-horizontal {
    justify-content: center;
  }
  .ant-menu-item .anticon {
    font-size: 14px;
  }
  .ant-btn {
    border: none;
  }
}
